@charset "utf-8";
.menu{
    margin: auto;
    /* height: 8vh; */
    width: 100%;
    display: flex;
    background: linear-gradient(-45deg, rgba(1, 21, 38, .8), rgba(1, 21, 38, .8)) fixed, url(../img/header-background.jpg) fixed;
    background-size: cover;
    justify-content: end;
    flex-direction: row;
}

.menu ul{

    width: 30%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;

}
.menu ul li a{
    color: var(--text-color-primary);
    text-decoration: none;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: 4px 0;
    transition: .7s ease-out;
}

.menu ul a:hover, #active{
    border-color: var(--text-color-primary);
} 

@media only screen and (max-width: 768px){
    .menu .icono{
        display: flex;
        font-size: 1.5rem;
        margin: 2rem;
        z-index: 2; 
    }
    
    .menu .icono i:hover{
    
        cursor: pointer;
    
    }
    
    .menu .enlaces{   
        font-size: 2rem;   
        /* min-height: 100vh;    */
        width: 100vw;
        height: 100vh;    
        position: fixed;    
        top: 0;   
        right: 0;    
        z-index: 1;   
        flex-direction: column;    
        align-items: center;   
        transition: all 1.5s ease;    
        background: rgb(0, 0, 0); 
        background: linear-gradient(-45deg, rgba(1, 21, 38, .8), rgba(1, 21, 38, .8)) fixed, url(../img/header-background.jpg) fixed;
        background-size: cover;
    }
    
    .menu .close{    
        clip-path: circle(0% at 100% 0%);    
    }
    
    .menu .open{    
        clip-path: circle(150% at 100% 0%);    
    }
}
