@charset "utf-8";

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Variables */
:root{
    height: 100%;
    --text-color-primary : #f9f9f9;
    --text-color-secundary: #0109;
    --bg-header-footer: #011526 ;
    --bg-general: #025959;
    --bg-forms: #63bfae;
    --bg-boxes-buton-primary: #04d9b2;
    --bg-boxes-buton-secundary: #05f2af;
    font-size: 18px;
    --font-family-text: 'Courier Prime', monospace;
}
body{
    width: 100%;
    min-height: 100vh;
    font-size: var(--font-size-primary);
    font-family: var(--font-family-text);
    color: var(--text-color-primary);
    background-color: var(--bg-general);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto) 5vh 1fr;
    grid-template-areas: 
    "cabecera"
    "menu-n"
    "cuerpo"
    "waves2"
    "pie";
}
header{
    width: 100%;
    grid-area: cabecera;
    display: flex;
    flex-direction: column;
    background: linear-gradient(-45deg, rgba(1, 21, 38, .8), rgba(1, 21, 38, .8)) fixed, url(../img/header-background.jpg) fixed;
    background-size: cover;
    color: var(--text-color-primary);

}

header figure{
    width: 50%;
    height: auto;
    padding: 1em;
}
header figure img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: .5em solid var(--bg-header);
}

main{
    display: flex;
    grid-area: cuerpo;
    width: 100%;
    margin: 0 auto;
    padding: 1em;
    gap: 1rem 0;
    flex-direction: column;
}


/* efecto olas */
.wave-footer{
    grid-area: waves2;
    background-color: var(--bg-general);
}
footer {
    grid-area: pie;
    background: var(--bg-header-footer);
    padding: 2em;
    display: flex;
    flex-direction: column;

}
/* .skills{
    border-bottom: .6px solid var(--bg-boxes-buton-secundary);
    border-top: .6px solid var(--bg-boxes-buton-secundary);
} */
.rrss {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

.rrss a:hover .fab {
    color: var(--bg-forms);
}
.fab {
    font-size: 1.8em;
    color: var(--bg-boxes-buton-secundary);
}



@media only screen and (max-width: 780px){
    .copy{
        border-top: 1px solid var(--bg-boxes-buton-secundary);
       }
    .copy p{
        text-align: center;
        font-size: .5rem;
        border-bottom: 1px solid var(--bg-boxes-buton-secundary);
    }
    /* header{
        display: flex;
        flex-direction: column;   
    } */

    h1{
        padding: 1rem;
        font-size: 1rem;
    }
    /* header figure{
        width: 100%;
    }
    header figure img{
        width: 100%;
        height: auto;
        border-radius: 50%;
        border: .5em solid var(--bg-header);
    } */
    .about-me{
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .about-me p{
        text-align: left;
        line-height: 1em;
    }
    .nav-header{
        grid-area: menu-n;
        display: flex;
        background: linear-gradient(-45deg, rgba(1, 21, 38, .8), rgba(1, 21, 38, .8)) fixed, url(../img/header-background.jpg) fixed;
        background-size: cover;
        justify-content: end;
    }
        
    .nav-header ul{
        width: 30%;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
    }
    
    .nav-header ul li a{
        color: var(--text-color-primary);
        text-decoration: none;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        padding: 4px 0;
        transition: .7s ease-out;
    }
    
    .nav-header ul a:hover, #active{
        border-color: var(--text-color-primary);
    } 

    .nav-header .icono{
        display: flex;
        font-size: 1.5rem;
        margin: 2rem;
        z-index: 2; 
    }
    .nav-header .icono i:hover{
        cursor: pointer;
    }
    .nav-header .enlaces{
        font-size: 2rem;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
        flex-direction: column;
        align-items: center;
        transition: all 1.5s ease;
        background: rgb(0, 0, 0); 
        background: linear-gradient(-45deg, rgba(1, 21, 38, .8), rgba(1, 21, 38, .8)) fixed, url(../img/header-background.jpg) fixed;
        background-size: cover;
    }

    .nav-header .close{
        clip-path: circle(0% at 100% 0%);
    }
    .nav-header .open{
        clip-path: circle(150% at 100% 0%);
    }
    .skills{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: repeat(4, auto);
        /* align-content: center; */
    }
    .skills figure{
        width: 80%;
    }
    .skills figure img{
        width: 100%;
    }
    .skills h2{
        text-align: center;
        font-size: 2.5rem;
        margin: 2em 0;
    }

    .nav-footer{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        padding: 2rem 0;
    }
    .nav-footer a{
        margin: .6em 8em;
        font-size: 1.5rem;
        border: 1px solid var(--bg-boxes-buton-secundary);
        padding: .7em;
        border-radius: 25px;
        color: var(--text-color-primary);
        text-decoration: none;
        text-align: center;
    }
    .nav-footer a:hover {
        color: var(--bg-boxes-buton-secundary);
        text-decoration: underline;
    }
}

@media screen and (min-width: 1024px){
    body{
        font-size: 1.5rem;    
    }
    header {
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: auto;
        padding: 3.5rem;
        align-items: center;
    }

    header h1{
        margin: 3em 0;
        border: 1px solid var(--bg-boxes-buton-secundary);
        width: 80%;
        padding: 0.5em;
        text-align:center;
        font-size: 1em;
        border-radius: 10px;
        background: hsla(217, 10%, 25%, 0.733);
        box-shadow: 13px 13px 26px var(--bg-header-footer), -13px -13px 26px var(--bg-general);
    }
    header figure{
        width: 100%;
        height: auto;

    }
    header figure img{
        width: 100%;
        height: auto;
        border-radius: 50%;
        border: .5em solid var(--bg-header);
    }
    .nav-header .icono{
        display: none;
    }
    .nav-header{
        padding: 2em 0;
        background-color: var(--bg-header-footer);
    }

    .nav-header ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;
    }

    .nav-header ul li {
        line-height: 2.5em;
        border: 1px solid var(--bg-boxes-buton-secundary);
        padding: 0 1em;
        border-radius: 25px;
    }

    .nav-header ul li a {
        color: var(--text-color-primary);
        text-decoration: none;
    }

    .nav-header ul li a:hover {
        color: var(--bg-boxes-buton-secundary);
        text-decoration: underline;
    }
    .skills figure{
        width: 80%;
    }
    .skills figure img{
        width: 100%;
    }
    .skills{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        justify-items: center;
        gap: 1.5em;
        margin: 3em 0 auto;
        border-bottom: .6px solid var(--bg-boxes-buton-secundary);
        border-top: .6px solid var(--bg-boxes-buton-secundary);
        padding: 2em 0;
    }
    .skills h2{
        grid-column: span 3;
        margin: 2em 0;
    }
    footer {
        grid-area: pie;
        background: var(--bg-header-footer);
        padding: 1em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .nav-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 2em 0;
    }
    .nav-footer a{
        font-size: 1.5rem;
        border: 1px solid var(--bg-boxes-buton-secundary);
        padding: .7em;
        border-radius: 25px;
        color: var(--text-color-primary);
        text-decoration: none;
        text-align: center;
    }

    .nav-footer a:hover {
        color: var(--bg-boxes-buton-secundary);
        text-decoration: underline;
    }
    .rrss {
        margin-top: 2em;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .fab {
        font-size: 2em;
    }
    .copy{
        border-top: 1px solid var(--bg-boxes-buton-secundary);
       }
    .copy p{
        text-align: center;
        font-size: 1.7rem;
        border-bottom: 1PX  solid var(--bg-boxes-buton-secundary);
    }
}
