@charset "utf-8";

/* Estilos de los Sliders */

.container{
    width: 80%;
    min-height: 100%;
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
    align-content: center;
    justify-content: center;
    display: flex;
}

.slider{
    width: 80%;
    opacity: 1;
    /* background-color: var(--bg-forms); */
    padding: 40px 0;
}

.slider__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    gap: 1em;
}

.slider__body{
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    /* background-color:var(--bg-forms); */
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1.5s;
}

.slider__body--show{
    opacity: 1;
    pointer-events: unset;
}


.slider__img{
    width: auto;
    height: auto;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.slider__arrow{
    cursor: pointer;
    width: 150%;
}

.slider__arrow:nth-of-type(2){
    justify-self: end;
}

@media (max-width:768px){
    h1, h2{
        text-align: center;
        font-size: 2rem;
    }
    .slider__body{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 1em;
    }

    .slider__picture{
        grid-row: 1/2;
    }

    .slider__img{   
        width: auto;
        height: auto;
    }
}

@media (max-width:425px){
    h1, h2{
        text-align: center;
        font-size: 1.5rem;
        margin: 1rem;
    }
    .slider__body{
        /* grid-template-columns: 35px 1fr 35px; */
        grid-template-rows: max-content 1fr;
        gap: 1em;
    }
    .slider__container{
        grid-template-columns: 25px 1fr 25px;
    }

    .slider__arrow{
       width: 150%;
    }

    .slider__img{   
        width: 180px;
        height: auto;
    }
}

@media only screen and (min-width: 769px){

    /* medias para los sliders */
     .slider__body{
         grid-template-columns: 1fr;
         grid-template-rows: auto;
         gap: 1em;
     }
     .slider__picture{
         grid-row: 1;
     }
 
     .slider__img{   
         width: auto;
         height: auto;
     }
 }